@model Vet.DAL.Vacuna

@{
    ViewData["Title"] = "Edit";
}
<h1>Editar Vacuna</h1>

<hr />
<div class="card">
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdVacuna" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label card-subtitle"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="TipoVacuna" class="control-label card-subtitle"></label>
                <input asp-for="TipoVacuna" class="form-control" />
                <span asp-validation-for="TipoVacuna" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Producto" class="control-label card-subtitle"></label>
                <input asp-for="Producto" class="form-control" />
                <span asp-validation-for="Producto" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
             
                <input type="submit" value="Guardar cambios" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="card-footer">
        <a asp-action="Index" class="btn btn-outline-secondary">Atrás</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
