@model Vet.DAL.Padecimiento

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar padecimiento</h1>

<div class="card">
    <div class="card-body">
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdPadecimiento" />
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                    </div>
                    <div class="form-group">
                        <br />
                        <input type="submit" value="Guardar cambios" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a asp-action="Index" class="btn btn-outline-secondary">Atrás</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
