@model Vet.DAL.Mascota

@{
    ViewData["Title"] = "Create";
}

<h4>Agregue la Mascota</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdTipoMascota" class="control-label"></label>
                        <select asp-for="IdTipoMascota" class="form-control" asp-items="ViewBag.TiposMascota"></select>
                        <span asp-validation-for="IdTipoMascota" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdRazaMascota" class="control-label"></label>
                        <select asp-for="IdRazaMascota" class="form-control" asp-items="ViewBag.IdRazaMascota"></select>
                        <span asp-validation-for="IdRazaMascota" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Genero" class="control-label"></label>
                        <select asp-for="Genero" class="form-control">
                            <option value="Hembra">Hembra</option>
                            <option value="Macho">Macho</option>
                        </select>
                        <span asp-validation-for="Genero" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Edad" class="control-label"></label>
                        <input asp-for="Edad" class="form-control" />
                        <span asp-validation-for="Edad" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Peso" class="control-label"></label>
                        <input asp-for="Peso" class="form-control" />
                        <span asp-validation-for="Peso" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UsuarioCreacionId" class="control-label"></label>
                        <select asp-for="UsuarioCreacionId" class="form-control" asp-items="ViewBag.Usuarios"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="DuenoId" class="control-label"></label>
                        <select asp-for="DuenoId" class="form-control" asp-items="ViewBag.Usuarios"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Imagen" class="control-label"></label>
                        <input asp-for="Imagen" class="form-control" />
                        <span asp-validation-for="Imagen" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <input class="form-check-input" asp-for="Estado" />
                        <label class="form-check-label" asp-for="Estado">Estado</label>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <a asp-action="Index" class="btn btn-outline-secondary">Atrás</a>
            </div>
        </div>
    </div>
    
    
</div>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
