@model Vet.DAL.Mascota

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Mascota</h1>


<div class="card">
    <div class="card-body">
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdMascota" />
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdRazaMascota" class="control-label"></label>
                        <select asp-for="IdRazaMascota" class="form-control" asp-items="ViewBag.IdRazaMascota"></select>
                        <span asp-validation-for="IdRazaMascota" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Genero" class="control-label"></label>
                        <input asp-for="Genero" class="form-control" />
                        <span asp-validation-for="Genero" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Edad" class="control-label"></label>
                        <input asp-for="Edad" class="form-control" />
                        <span asp-validation-for="Edad" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Peso" class="control-label"></label>
                        <input asp-for="Peso" class="form-control" />
                        <span asp-validation-for="Peso" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Imagen" class="control-label"></label>
                        <input asp-for="Imagen" class="form-control" />
                        <span asp-validation-for="Imagen" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UsuarioCreacionId" class="control-label"></label>
                        <select asp-for="UsuarioCreacionId" class="form-control" asp-items="ViewBag.Usuarios"></select>
                        <span asp-validation-for="UsuarioCreacionId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DuenoId" class="control-label"></label>
                        <select asp-for="DuenoId" class="form-control" asp-items="ViewBag.Usuarios"></select>
                        <span asp-validation-for="DuenoId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaCreacionFormateada" class="control-label"></label>
                        <input asp-for="FechaCreacionFormateada" class="form-control" readonly />
                        <span asp-validation-for="FechaCreacionFormateada" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaModificacionFormateada" class="control-label"></label>
                        <input asp-for="FechaModificacionFormateada" class="form-control" readonly />
                        <span asp-validation-for="FechaModificacionFormateada" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar cambios" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a asp-action="Index" class="btn btn-outline-secondary">Atrás</a>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

