@model Vet.DAL.RazaMascota

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RazaMascota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMascota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMascota.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdRazaMascota">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
