@model Vet.DAL.TipoMascota

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar padecimiento de mascota</h1>

<hr />
<div class="card">
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <br />
                <input type="submit" value="Añadir" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="card-footer">
        <a asp-action="Index" class="btn btn-outline-secondary">Atrás</a>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
