@model IEnumerable<Vet.DAL.TipoMascota>

@{
    ViewData["Title"] = "Index";
}



<div>
    <h1 style="text-align: center"> Tipo de Mascotas</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <a asp-action="Create" class="btn btn-primary">Añadir tipo de mascota</a>
    </div>
    <div class="col-md-3" style="margin-left: 250px">
        <form asp-action="Index" method="get" class="form-inline">
            <div class="form-group mr-2">
                <input type="text" id="busquedaTipoMascota" name="busquedaTipoMascota" class="form-control" style="width: 300px;" placeholder="Buscar por tipo de mascota" />
                <br />
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
</div>


@if ((bool)ViewBag.NoResultados)
{
    <p>No se encuentran resultados de búsqueda.</p>
}
<br />
<br />

<div class="container">
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card card1 mt-3">
                <div class="card-body">
                    <h5 class="card-title">@item.Nombre</h5>
                    <div class="btn-group">
                        <a href="@Url.Action("Edit", new { id = item.IdTipoMascota })" class="btn btn-primary">Editar</a>
                    </div>
                    <div class="btn-group">
                        <a href="@Url.Action("Details", new { id = item.IdTipoMascota })" class="btn btn-secondary">Detalles</a>
                    </div>
                    <div class="btn-group">
                        <a href="@Url.Action("Delete", new { id = item.IdTipoMascota })" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
</div>