@model Vet.DAL.Cita

@{
    ViewData["Title"] = "Crear";
}



<h1>Crear Cita</h1>

<hr />
<div class="card">
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdMascota" class="control-label card-subtitle"></label>
                <select asp-for="IdMascota" class="form-control" asp-items="ViewBag.Mascotas"></select>
            </div>
            <div class="form-group">
                <label asp-for="DuenoId" class="control-label card-subtitle"></label>
                <select asp-for="DuenoId" class="form-control" asp-items="ViewBag.Duenos"></select>
            </div>
            <div class="form-group">
                <label asp-for="VeterinarioPrincipalId" class="control-label card-subtitle"></label>
                <select asp-for="VeterinarioPrincipalId" class="form-control" asp-items="ViewBag.VetsPrincipales"></select>
            </div>
            <div class="form-group">
                <label asp-for="VeterinarioSecundarioId" class="control-label card-subtitle"></label>
                <select asp-for="VeterinarioSecundarioId" class="form-control" asp-items="ViewBag.VetsSecundarios"></select>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label card-subtitle"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label card-subtitle"></label>
                <textarea asp-for="Descripcion" class="form-control"> </textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnostico" class="control-label card-subtitle"></label>
                <input asp-for="Diagnostico" class="form-control" />
                <span asp-validation-for="Diagnostico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Añadir" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="card-footer">
        <a asp-action="Index" class="btn btn-outline-secondary">Atrás</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
