@model Vet.DAL.Cita

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdMascota" class="control-label"></label>
                <select asp-for="IdMascota" class ="form-control" asp-items="ViewBag.IdMascota"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuarioPrincipal" class="control-label"></label>
                <select asp-for="IdUsuarioPrincipal" class ="form-control" asp-items="ViewBag.IdUsuarioPrincipal"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuarioSecundario" class="control-label"></label>
                <input asp-for="IdUsuarioSecundario" class="form-control" />
                <span asp-validation-for="IdUsuarioSecundario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <textarea asp-for="Descripcion" class="form-control"> </textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnostico" class="control-label"></label>
                <input asp-for="Diagnostico" class="form-control" />
                <span asp-validation-for="Diagnostico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" style="margin-top: 20px; margin-bottom: 20px;"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
