@model Vet.DAL.VacunaMascota

@{
    ViewData["Title"] = "Edit";
}
<h1>Editar vacuna de mascota</h1>

<hr />
<div class="card">
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdVacunaMascota" />
            <div class="form-group">
                <label asp-for="IdVacuna" class="control-label"></label>
                <select asp-for="IdVacuna" class="form-control" asp-items="ViewBag.IdVacuna"></select>
                <span asp-validation-for="IdVacuna" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="IdMascota" class="control-label"></label>
                <select asp-for="IdMascota" class="form-control" asp-items="ViewBag.IdMascota"></select>
                <span asp-validation-for="IdMascota" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="FechaVacuna" class="control-label"></label>
                <input asp-for="FechaVacuna" class="form-control" />
                <span asp-validation-for="FechaVacuna" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
               
                <input type="submit" value="Guardar cambios" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="card-footer">
        <a asp-action="Index" class="btn btn-outline-secondary">Atrás</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
