@model Vet.DAL.CitaMedicamento

@{
    ViewData["Title"] = "Edit";
}

<h1>Medicamento/s asignado/s a la cita de (NombreMascota)</h1>

<hr />
<div class="card">
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCitaMedicamento" />
            <div class="form-group">
                <label asp-for="IdCita" class="control-label card-subtitle"></label>
                <select asp-for="IdCita" class="form-control" asp-items="ViewBag.IdCita"></select>
                <span asp-validation-for="IdCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMedicamento" class="control-label card-subtitle"></label>
                <select asp-for="IdMedicamento" class="form-control" asp-items="ViewBag.IdMedicamento"></select>
                <span asp-validation-for="IdMedicamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dosis" class="control-label card-subtitle"></label>
                <input asp-for="Dosis" class="form-control" />
                <span asp-validation-for="Dosis" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="card-footer">
        <a asp-action="Index" class="btn btn-outline-secondary">Atrás</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
