@model IEnumerable<Vet.DAL.Rol>

@{
    ViewData["Title"] = "Index";
}



<div>
<h1 style="text-align: center">Roles</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <a asp-action="Create" class="btn btn-primary">Añadir un Rol</a>
    </div>
    <div class="col-md-3" style="margin-left: 250px">
        <form asp-action="Index" method="get" class="form-inline">
            <div class="form-group mr-2">
                <input type="text" id="busquedaPorRol" name="busquedaPorRol" class="form-control" style="width: 300px;" placeholder="Escriba un Rol" />
                <br />
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
</div>

@if ((bool)ViewBag.NoResultados)
{
    <p>No se encuentran resultados de búsqueda.</p>
}
<br />
<br />



<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center card1" style="border: 1px solid #ced4da">
                    <div class="flex-grow-1">
                        <span>@item.Tipo</span>
                    </div>
                    <div style="margin-right: 50%">
                        Estado:
                        @if (item.Estado)
                        {
                            <span style="color: green;">Activo</span>

                        }
                        else
                        {
                            <span style="color: red;">Inactivo</span>
                        }
                        </div>
                        <div>
                        <a asp-action="Edit" asp-route-id="@item.IdRol" class="btn btn-primary">Edit</a>
                        <a class="btn btn-danger BorrarElemento" data-estado="@item.Estado" asp-action="Delete" asp-route-id="@item.IdRol">Eliminar</a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>



